@tailwind base;
@tailwind components;
@tailwind utilities;





/* style of scrollbar button */
::-webkit-scrollbar-button {
    height: 10%;
  }
  /* style of scrollbar track */
::-webkit-scrollbar-track
{
    background-color: rgba(163, 154, 154, 0.301);
    border-radius: 5px;
}
  /* style of scrollbar */
::-webkit-scrollbar
{
    width: 5px;
}
  /* style of scrollbar thumb */
::-webkit-scrollbar-thumb
{
    border-radius: 5px; 
    background-color: #7e22ce;
}
  /* style site body*/
body
{
    background-color:#f0f0f080
}
/* style  titles h3 in site  */
.basicTitle
{
    @apply font-[500] md:text-4xl sm:text-sm mb-2
}
/* style  section  in site  */
.basicSection
{
    @apply bg-white rounded-2xl px-5 py-8 my-[20px]  hover:border-fuchsia-800  border-2
}
/* style  InputRadio  in site  */
.InputRadio
{
    @apply ml-4  hover:cursor-pointer accent-fuchsia-800
}
/* style  Textarea  in site  */
.textArea
{
    @apply  p-4 resize-none w-full border-2  rounded-lg focus:border-[#00000054] outline-none overflow-hidden
}